@extends('admin/layouts.admin_layout')

@section('content')
<div class="panel">
    <div class="panel-heading">
        <h3>Create new meeting/event...</h3>
        <a href="%7b%21%21%20URL__to(%27meeting_event%27%2c%27%27%2cis_secured())%20%21%21%7d.html" class="btn btn-md btn-primary btn_hover"><span>All Meeting/Event</span></a>
    </div>
    <div class="panel-body">

        @if(Session::has('message'))
            <h4 class="alert alert-success">{!! Session::get('message') !!}</h4>
        @endif
        <div class="row">
            {!! Form::open(['url'=>URL::to('meeting_event/create','',is_secured())]) !!}
            <div class="col-sm-3">
             <div class="form-group">
                    <label for="">Title</label>
                    {!! Form::text('name',null,['class'=>'form-control','required'=>'']) !!}
                </div>
            </div>
            <div class="col-sm-3">
            <p style="margin-bottom:0px;">Meeting/Event Type</p>
                        <select name="meeting_event" required="" class="selectpicker customSelectpicker" style="margin-top:-5%">
                         <option value="Meeting">Meeting</option>
                          <option value="Event">Event</option>
                        </select>
            </div>
            <div class="col-sm-3">
               
                <div class="form-group">
                    <label for="">Management Price</label>
                    {!! Form::text('price',null,['class'=>'form-control','required'=>'']) !!}
                </div>
                <div class="form-group">
                    {!! Form::submit('SAVE',['class'=>'btn btn-md btn-info pull-right']) !!}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">Event Image</label>
                    <input type="hidden" name="image_data" required>
                    <a href="#" data-toggle="modal" data-target="#featured_image" class="btn btn-block btn-success">UPLOAD</a>
                </div>
                <div class="img_prev">

                </div>
            </div>
            {!! Form::close() !!}
        </div>

    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="featured_image" class="modal fade">
    <div class="modal-dialog" style="width:500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Media library <span class="badge">Required Size 370x346</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="featured_image_editor">
                            <input type="file" class="cropit-image-input">
                            <div class="cropit-preview" style="width:270px;height: 346px;"></div>
                            <div class="image-size-label">
                                Resize image
                            </div>
                            <input type="range" class="cropit-image-zoom-input">
                            <button class="rotate-ccw">Rotate counterclockwise</button>
                            <button class="rotate-cw">Rotate clockwise</button>
                            <button class="export" data-call_back="my_function">Export</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>



@endsection
@section('custom_script')
    <script type="text/javascript">
        $(document).ready(function () {
            var featured_image = $('#featured_image_editor');
            featured_image.cropit({});
            featured_image.find('.export').click(function() {
                var imageData = featured_image.cropit('export');
                $('[name="image_data"]').val(imageData);
                $('.img_prev').html('<img src="'+imageData+'" alt="" style="width:100%">');
            });

        })
    </script>
@endsection
