@extends('admin/layouts.admin_layout')

@section('content')
<div class="panel">
    <div class="panel-heading">
        <h3>Create new types of room...</h3>
        <a href="%7b%21%21%20URL__to(%27system/roomtype%27%2c%27%27%2cis_secured())%20%21%21%7d.html" class="btn btn-md btn-primary btn_hover"><span>All Room-type</span></a>
    </div>
    <div class="panel-body">
        @if(Session::has('message'))
            <h4 class="alert alert-success">{!! Session::get('message') !!}</h4>
        @endif
        <div class="row">
            {!! Form::open(['url'=>URL::to('system/roomtype','',is_secured())]) !!}
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="">Name</label>
                    {!! Form::text('name',null,['class'=>'form-control']) !!}
                </div>
                <div class="form-group">
                    <label for="">Title</label>
                    {!! Form::text('title',null,['class'=>'form-control']) !!}
                </div>
                <div class="form-group">
                    {!! Form::submit('SAVE',['class'=>'btn btn-md btn-info']) !!}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="">Featured Image</label>
                    <input type="hidden" name="featured_image_data" required>
                    <a href="#" data-toggle="modal" data-target="#featured_image" class="btn btn-block btn-success">UPLOAD</a>
                </div>
                <div class="img_prev">

                </div>
            </div>
            {!! Form::close() !!}
        </div>

    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="featured_image" class="modal fade">
    <div class="modal-dialog" style="width:590px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Media library <span class="badge">Required Size 470x586</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="featured_image_editor">
                            <input type="file" class="cropit-image-input">
                            <div class="cropit-preview" style="width:470px;height: 586px;"></div>
                            <div class="image-size-label">
                                Resize image
                            </div>
                            <input type="range" class="cropit-image-zoom-input">
                            <button class="export" data-dismiss="modal" data-call_back="my_function"><i class="fa fa-cut"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>



@endsection
@section('custom_script')
    <script type="text/javascript">
        $(document).ready(function () {
            var featured_image = $('#featured_image_editor');
            featured_image.cropit({});
            featured_image.find('.export').click(function() {
                var imageData = featured_image.cropit('export');
                $('[name="featured_image_data"]').val(imageData);
                $('.img_prev').html('<img src="'+imageData+'" alt="" style="width:100px">');
            });

        })
    </script>
@endsection
