<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="%7b%21%21%20URL__to(%27admin%27%2c%27%27%2cis_secured())%20%21%21%7d.html">
                    <i class="icon-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-laptop"></i>
                    <span>Booking Type</span>
                </a>
                <ul class="sub">
                    <li><a  href='%7b%21%21%20URL__to(.html'system/booking_type','',is_secured()) !!}'>All Room-Type</a></li>
                    <li><a  href='%7b%21%21%20URL__to(.html'system/booking_type/create','',is_secured()) !!}'>Create Room-Type</a></li>
                </ul>
            </li>
             <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-laptop"></i>
                    <span>Booking Sub Type</span>
                </a>
                <ul class="sub">
                    <li><a  href='%7b%21%21%20URL__to(.html'system/roomtype','',is_secured()) !!}'>All Booking Sub Type</a></li>
                    <li><a  href='%7b%21%21%20URL__to(.html'system/roomtype/create','',is_secured()) !!}'>Create Booking Sub Type</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-laptop"></i>
                    <span>Booking Services</span>
                </a>
                <ul class="sub">
                    <li><a  href='%7b%21%21%20URL__to(.html'system/service','',is_secured()) !!}'>All Services</a></li>
                    <li><a  href='%7b%21%21%20URL__to(.html'system/service/create','',is_secured()) !!}'>Create Services</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-laptop"></i>
                    <span>Booking Management</span>
                </a>
                <ul class="sub">
                    <li><a  href='%7b%21%21%20URL__to(.html'system/booking','',is_secured()) !!}'>All Booking</a></li>
                    <li><a  href='%7b%21%21%20URL__to(.html'system/booking/create','',is_secured()) !!}'>Booking Create</a></li>
                     <li><a  href='%7b%21%21%20URL__to(.html'system/current_booking','',is_secured()) !!}'>Currrent Booking</a></li>
                </ul>
            </li>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-laptop"></i>
                    <span>Meeting/Event</span>
                </a>
                <ul class="sub">
                    <li><a  href='%7b%21%21%20URL__to(.html'meeting_event','',is_secured()) !!}'>All Show</a></li>
                    <li><a  href='%7b%21%21%20URL__to(.html'meeting_event/create','',is_secured()) !!}'>Create Services</a></li>
                </ul>
            </li>
            

        </ul>
    </div>
</aside>