<header class="header white-bg">
    <div class="sidebar-toggle-box btn btn-lg pull-left">
        <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"><i class="fa fa-bars"></i></div>
    </div>
    <!--logo start-->
    <a href="%7b%21%21%20URL__to(%27/%27%2c%27%27%2cis_secured())%20%21%21%7d.html" class="logo" ><span style="color:blue">Caspia</span><span> M.</span></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
            <!-- settings start -->
            <!-- notification dropdown end -->
        </ul>
    </div>
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <li>
                <input type="text" class="form-control search" placeholder="Search">
            </li>
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="username">{!! Auth::user()->name !!}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <li><a href="#" data-toggle="modal" data-target="#password_modal"><i class="fa fa-edit"></i> Reset Password</a></li>



                    <li><a href="#" data-toggle="modal" data-target="#email_modal" style="margin-left: 5%"><i class="fa fa-envelope"></i> Change Email</a></li>
                    <li><a href="%7b%21%21%20URL__to(%27logout%27%2c%27%27%2cis_secured())%20%21%21%7d.html"><i class="icon-key"></i> Log Out</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                {!! Form::open(['url'=>URL::to('dashboard/update_password','',is_secured()),'class'=>'form']) !!}
                <div class="form-group">
                    <label for="Paassword">Password</label>
                    {!! Form::password('password',['class'=>'form-control']) !!}
                </div>
                <div class="form-group">
                    {!! Form::submit('Update',['class'=>'btn btn-danger btn-md']) !!}
                </div>
                {!! Form::close() !!}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Change Email</h4>
            </div>
            <div class="modal-body">
                {!! Form::open(['url'=>URL::to('dashboard/update_email','',is_secured()),'class'=>'form']) !!}
                <div class="form-group">
                    <label for="Paassword">Email</label>
                    {!! Form::email('email',Auth::user()->email,['class'=>'form-control']) !!}
                </div>
                <div class="form-group">
                    {!! Form::submit('Update',['class'=>'btn btn-danger btn-md']) !!}
                </div>
                {!! Form::close() !!}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>